:root {
  // Colors
  --white: hsla(0, 0%, 100%, 1); // #fff
  --white--800: hsla(0, 0%, 100%, 0.8); // #fff
  --black: rgb(0, 0, 0); // #000
  --gray: hsla(0, 0%, 52.2%, 1); // #858585
  --cod-gray: hsla(0, 0%, 10.6%, 1); // #1b1b1b
  --silver: hsla(0, 0%, 72.2%, 1); // #B8B8B8
  --cyan: hsla(188.9,100%,50%, 1); // #00D9FF

  // Background
--bg-body: var(--cod-gray);
--bg-input: var(--black);
--bg-icon: var(--white--800);
--bg-icon--hover: var(--white);
--bg-icon--selected: var(--cyan);

  // Font
  --fc-default: var(--silver);
  --fc-title: var(--gray);
}
