:root {
  // Font Family
  --ff-default: georgia, serif;

  // Font Weight
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-extra-bold: 700;

  // Fonts Sizes
  --fs-default: 1.5rem; // 24px
}
